@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100%;
}


#section-outer{
    font-family: 'Poppins', sans-serif;
    background-color:#49a06b;
    height:350px;
    width:450px;

}


#iste{
    font-weight:700;
    color:white;
}

#place{
    font-weight:500;
    color:white;
}
#pincode{
    color:white;
}

#inner-section{
    background-color:white;
    height:240px;
}
#footer{
    
    font-weight:700;
    color:white;
    
}


/* editable content comes here */

#name{
    outline:none;
    border:none;
    width:330px;
    text-transform:uppercase;
    font-weight:700;
    color:black;
    background-color:white;
}


#instituteCode{
    display:flex;
    justify-content:flex-end;
    font-size:small;
    font-weight:600;
}

#instituteCodeNum{
    display:flex;
    justify-content:flex-end;
    font-size:medium;
    font-weight:600;
}

#membershipNo{
 display:flex;
justify-content:flex-end;
font-size:small;
font-weight:600;
padding-bottom:0;


}
#membershipNoNum{
    display:flex;
   justify-content:flex-end;
   font-size:medium;
   font-weight:600;
   
   }

   /* adjust the signature size here */
 #designation img{
     height:50px;
     width:80%;
     margin-bottom: 0 !important;
 }
 #alert{
    display:none;
}

 @media only screen and (max-width: 450px) {
  

    #section-outer{
     display:none;
    
    }

    #alert{
        display:block;
    }
    
  }